header {
	background-color: #82d1de;
	color: white;
}

nav {
	background-color: #b25cc1;
}

section {
	background-color: #f4f4f4;
}

footer {
	background-color: #8342c9;
color: white;
}
